
/*star of the header*/
header{
	display: flex;
	justify-content: center;

}

nav{
	display: none;
}

.hamburger3 ,.logotitre ,.panier{
	display: flex;
	justify-content: center;
}


.logotitre{
	width: 150px;
	height: 40px;
	margin:auto;
}


.panier{
	width: 40px;
	height: 40px;
}


.hamburger{
	height: 30px;
	width: 30px;
	
}

.hamburger2{
	max-width: 100%;
	max-height: 100%;
	margin:auto;
}
.hamburger3{
	width: 30px;
	height: 30px;
	margin: 0;
}  

/*end of header*/


/*Début de la Div/ici sont regroupés les images des produits en vente*/



.tailles{
	display: block;

}

.tailles a:hover{
	background-color: silver;
}

h1{
	font-size:1.5em;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: #4B4C4D;
}

.tablette{
	display: none;
}

/*les propriété concernant les articles*/
.roseart, .rose2art, .rose3art, .mauveart, .aubergineart, .justemauveart{
	display: inline-block;
	justify-content: space-between;
}
/*fin des propriétés concernant les articles*/

/*les propriété concernant les figures*/
.rougefig, .rosefig, .rose2fig, .rose3fig, .auberginefig, .mauvefig, .justemauvefig{
	width:130px;
	margin: 1em;
}
/*fin des propriétés concernant les figures*/

/*les propriétés concernant les images des chaussettes*/
.rouge, .rose, .rose2, .rose3, .aubergine, .mauve, .justemauve{
	max-width: 100%;
	max-height: 100%;
}
/*fin des propriétés concernant les images des chaussettes*/

/*propriété concernant une figure : 3 pieds de femmes avec des chaussettes de couleurs différentes= deuxième
sur le mobile (en dessous) et deuxième image sur la tablette (même ligne) et deuxième image sur le desktop
(même ligne)*/
.troiscouleursfig{
	
	margin: 1em;
}
/*fin de la propriété des 3 pieds*/

/*image 3 pieds de femmes avec des chaussettes de couleurs différentes= deuxième
sur le mobile (en dessous) et deuxième image sur la tablette (même ligne) et deuxième image sur le desktop
(même ligne)*/
.troiscouleurs{
	width:100%;
	max-width: 100%;
	max-height: 100%;
}
/*fin de l'image des 3 pieds*/

/*Fin de la Div/Fin des images des produits en vente*/


/* star of the footer for mobile*/

.footerfig, .un, .deux, .trois, .quatre{
	display: flex;
	flex-wrap: wrap;

}
/*figure du footer*/
.footerfig a{
	width: 50%;
}
/*fin de la figure du footer*/

/*images réseaux sociaux Twitter et Fb*/
.cinq, .six{
	display: none;
	}

/*images réseaux sociaux*/
.un, .deux, .trois, .quatre{
	max-width: 100%;
	max-height: 100%;
}

/*end of the footer for mobile*/


/****************************************************************************************************
****************************************Tablette**************************************************
*/

@media (min-width: 768px){
/*star of the header*/
header{
	display: flex;
	justify-content: space-between;
}

h1, .tablette, .tailles{
	margin: 1em;
}

.logo2{
	width: 80%;
	height: 30%;
	margin-left: 11em;
}

.logotitre{
	margin-bottom: 1px;
}

.panier{
	display: flex;
	justify-content: flex-start;
	margin-left: 15em;
}
/*end of the header*/


.tablette{
	display: block;
}
/****************************************************************
***************************************************************
****************************************************************/
.chaussettes{
	display: none;
}

/*****************************************************************
****************************************************************
*****************************************************************/
.rouge{
	height:230px;
	width: 20em;
}

.rougeart{ 
	display: inline-block;
	align-items: stretch;
	width: 33%;
}


.troiscouleursart{
	background-color: blue;
	display: inline-block;
	justify-content: flex-start;
	/* width: 60%; */
}
}

.troiscouleurs{
	height: 250px;
	
}

.rose, .rose2, .rose3, .aubergine, .mauve{
	width: 100%;
}

/*icones facebook et twitter*/
.cinq, .six{
	display: block;
}
/*fin du footer pour tablette*/


/************************************************************************************************************
********************************************Desktop*********************************************************/


@media (min-width: 1280px){


	
/*star of the header*/
header{
	display: flex;
	justify-content: flex-start;
}

.panier, .hamburger

	{
	display: none;
	}

header{
	
	height: 15em;
}

.logo
	{
	
	display: flex;
	justify-content: flex-start;
	width: 0em;
	height: 0em;
	
}

.logo2{
	margin-right:120px;
}

.logotitre{
	width: 290px;
	height: 100px;
	display: flex;

	
}

.logo, .connexion{
	display: flex;
	justify-content: space-between;


}

.tailles{
	display: none;
}

.navnav{
	margin: 3em;
	display: inline-block;
	flex-direction: column-reverse;
	margin-top: 150px
}

.grossnav{
	height: 3em;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 1em;
}

.nav{
	display: none;
}


div{
	margin-left: 3em;
	margin-right: 3em;
	display: inline-block;
	justify-content: space-between;
}

.tablette{
	padding:5%;
	margin: 2%;
}

.rougetabl, .troiscouleurstabl{
	padding: 15px;
}

.rose2tabl, .rose3tabl, .auberginetabl, .mauvetabl, .justemauve{
	padding: 13px;
}


footer{
	margin: 4em;

}

	

}

/*end of the header*/


