header{
	display: flex;
	justify-content: center;


}

nav{
	display: none;
}

.hamburger3 ,.logotitre ,.panier {
	display: flex;
	justify-content: center;
}


.logotitre{
	width: 150px;
	height: 40px;
	margin:auto;
}

.panier{
	width: 40px;
	height: 40px;
}


.hamburger{
	height: 30px;
	width: 30px;
	
}

.hamburger2{
	max-width: 100%;
	max-height: 100%;
	margin:auto;
}
.hamburger3{
	width: 30px;
	height: 30px;
	margin: 0;
}  







@media (min-width: 768px){

header{
	display: flex;
	justify-content: space-between;
}

.logo2{
	width: 80%;
	height: 30%;
}

.logotitre{
	background-color: blue;
	margin-bottom: 1px;
	margin-left: 13em;
}

.panier{
	display: flex;
	justify-content: flex-start;
	margin-left: 10em;
}


}











@media (min-width: 1280px){	
.panier

	{
	display: none;
	}

}


}